{% extends 'base.html.twig' %}

{% block title %}Create an User !{% endblock %}

{% block body %}
        <h1>What about creating a new user ?</h1>
        {{ form_start(createUserForm) }}
            {{ form_widget(createUserForm) }}
        <button type="submit" class="btn btn-primary">Create!</button>
            {{ form_end(createUserForm) }}
{% endblock %}