{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form_start(editSupportForm) }}
    {{ form_rest(editSupportForm) }}
    <button type="submit" class="btn btn-primary">Editer !</button>
    {{ form_end(editSupportForm) }}
{% endblock %}

