{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">Gestion de Stock - ProFan</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <hr>
    <div class="container text-center">
        <br>
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>Efficient</h3>
                <p>Rules your life with the Storage Manager.</p>
                <p>Completing tasks had never been so easy and satisfying.</p>
            </div>
            <div class="col-sm-6 text-center">
                <img src="{{ asset('images/LogoLafayette.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="{{ asset('images/logo_isima-300x200.png') }}">
            </div>
            <div class="col-sm-6">
                <h3>Responsive</h3>
                <p>Thanks to the Bootstrap Framework, this website is mobile-friendly.</p>
                <p>The Storage Manager can be reach from whenever you are and with whatever devices.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Responsive</h3>
                <p>Thanks to the Bootstrap Framework, this website is mobile-friendly.</p>
                <p>The Storage Manager can be reach from whenever you are and with whatever devices.</p>
            </div>
            <div class="col-sm-6">
                <h3>Responsive</h3>
                <p>Thanks to the Bootstrap Framework, this website is mobile-friendly.</p>
                <p>The Storage Manager can be reach from whenever you are and with whatever devices.</p>
            </div>
        </div>
    </div>

{% endblock %}

